body{
    font-family:
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}


#left-pane{
    padding: 10px;
    height: 100%;
    width: 30vw;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

#heading-text{
    margin-top: 20px;
    font-size: 23px;
}

#logo-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#right-pane{
    flex: 1;
    height: 100%;
    background-color:#099dfd;
}

#illustration-container {
    display: flex;
    border-radius: 2000px;
    background-color: rgba(255, 255, 255, 0.13)
    width: 700px;
    height: 700px;
    align-items: center;


}

#image-container {

}

